@media (max-width: 682px) {
    
    header img {
        display: none;
    }

    /********** CONTAINER ***********/

    .container {
        padding: 0 20px;
    }
}

@media (min-width: 481px) and (max-width: 681px) {
    /********** PORTFOLIO SECTION ***********/

    #portfolio .box {
        width: 48%;
    }
}

@media screen and (min-width: 481px) {
    /********** PORTFOLIO SECTION ***********/

    #portfolio .portfolio-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (min-width: 682px) {
    /* Header */

    header .nav-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header img {
        position: static;
        width: 200px;
    }

    header nav a {
        padding: 7px 15px;
        margin-left: 10px;
    }

    /* Home */

    #home {
        padding: 200px 0 150px;
    }

    #home h1 {
        font-weight: normal;
	    line-height: 1.2;
        font-size: 68px;
        margin-bottom: 40px;
    }

    #home p {
        font-size: 24px;
        margin-top: 40px;
    }

    #home .social a {
        margin-left: 5px;
        font-size: 24px;
        height: 50px;
        width: 50px;
        line-height: 50px;
    } 
    
    /********** SERVICES SECTION ***********/

    #services .box-container {
        flex-direction: row;
    }

    /********** VIDEO SECTION ***********/

    #video .video-size {
        width: 640px; 
        height: 360px;
    }

    /********** PORTFOLIO SECTION ***********/

    #portfolio .box {
        width: 31%;
    }

    /********** CONTACT SECTION ***********/

    #contact input {
        width: 400px;
    }

    #contact textarea {
        width: 400px;
    }

    #contact button {
        padding: 20px 40px;
    }

    /********** FOOTER SECTION ***********/

    footer {
        padding: 90px 0;
    }
}

@media screen and (min-width: 1024px) {
    /* Header */

    header .nav-container {
        justify-content: space-between;
    }

    /********** SECTION ***********/

    section {
        padding: 80px 0;
    }

    section h2 {
        font-size: 32px;
        margin-bottom: 80px;
    }

    /********** CONTAINER ***********/

    .container {
        width: 992px;
        margin-left: auto;
        margin-right: auto;
    }
}